transformers==4.34.1
peft==0.4.0
bitsandbytes==0.41.1
accelerate==0.22.0
torch==2.1.1
flask==3.0.0
scipy
uvicorn==0.23.2

chromadb==0.3.29
langchain==0.0.350

google-cloud-storage==2.14.0
pypdf2~=3.0.1
requests~=2.31.0